/*Colors*/
:root{
  --blanco: #FFFFFF;
  --oscuro: #212121;
  --primario: #FFC107;
  --secundario: #0097A7;
  --gris: #757575;

  --fuente_titulo_printipal: 4rem;

}


html{
  font-size: 62.5%;
}

body{
  font-size: 16px;  /*1rem = 10 px*/
}

.titulo {
  text-align: center;
  font-size: var(--fuente_titulo_printipal); 
  color: var(--oscuro); 
  /*font-family: 'Times New Roman"', serif;*/
  font-weight: 400;
  border: 3px solid #5f006f;
}

.titulo2 {
  text-align: center;
  font-size: var(--fuente_titulo_printipal); 
  color: var(--oscuro); 
  /*font-family: 'Ibarra Real Nova', serif;*/
  font-weight: 100;
}

.titulo span{
  font-size: 2rem;
  font-weight: bold;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}